<h1> Sign up!</h1>

<% if notice %>
  <div class="alert alert-info" role="alert" id="notice"><%= notice %></div>
  <br/>
<% end %>

<%=  bootstrap_form_for :user, url: '/users' do |f| %>
  <%= f.text_field :name %>
  <%= f.text_field :email %>
  <%= f.password_field :password %>
  <%= f.password_field :password_confirmation %>
  <%= f.submit "Submit" %>

<% end %>